.navbar {
    height: 75px;
    background: linear-gradient(var(--seaweed), var(--dye));
    display: flex;
}

.logo {
    margin: auto 10px;
    color: var(--sky);
    font-family: var(--logo);
    font-size: 2rem;
}

.container {
    margin-inline-start: auto;
    display: flex;
}

.active, .inactive {
    margin: auto 20px auto 0;
    font-size: 1.5rem;
}

.active {
    color: var(--red)
}

.inactive {
    color: var(--mint)
}

.inactive:hover {
    color: var(--candy)
}